@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&family=Poppins:wght@300&family=Sofia+Sans:wght@900&display=swap");

body {
  background-image: url("../assets/backpic.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #ef2829;
  padding: 20px;
  color: #dbdbdb;
  font-family: "Poppins", sans-serif;
  position: relative;
  overflow: hidden;
  margin: 0;
}

a {
  text-decoration: none;
  color: #dbdbdb;
}

.app {
  height: 100vh;
}

.app,
.part1 {
  position: relative;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dbdbdb;
  font-size: 12px;
  letter-spacing: 1.2px;
  position: relative;
}

.menu {
  display: flex;
}

.menu > a:first-child {
  border-bottom: 2.5px solid #fff;
}

.menu a {
  padding-bottom: 8px;
  margin: 0px 15px;
}

/* Main */
.part1 {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: space-between;
  height: 50vh;
}

.intro {
  font-size: 12px;
  width: 31%;
}

.m_img1,
.m_img2,
.num2 {
  pointer-events: none;
  user-select: none;
  position: absolute;
}

.m_img1 {
  left: -8.5%;
  width: 21%;
  top: 40%;
}

.m_img2 {
  right: -10%;
  width: 20%;
  top: 35%;
}

.num2 {
  right: 2%;
  width: 20%;
  top: 40%;
}

.part2 {
  width: 35%;
  margin-top: 30px;
  font-family: "Open Sans", sans-serif;
}

.part2 > div:nth-child(1) {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}

.part2 > div:nth-child(2) {
  font-size: 45px;
  font-weight: 800;
}

/*  */
.bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: "Open Sans", sans-serif;
  align-items: center;
  position: absolute;
  bottom: 8%;
  width: 100%;
}

.counter {
  display: flex;
  position: relative;
  width: 45%;
  align-items: center;
  border-bottom: 1px solid #c4c4c4c0;
}

.counter p {
  margin-right: 18px;
  font-size: 10px;
  color: #c4c4c4;
  margin-bottom: 5px;
}

.counter p:first-child {
  color: #dbdbdb;
  font-size: 13px;
  margin-bottom: 8px;
}

.counter span {
  border-bottom: 1px solid #fff;
  width: 18%;
  position: absolute;
  bottom: 0;
}

.directions,
.media {
  display: flex;
}

.directions .arrow {
  display: flex;
  align-items: center;
  position: relative;
}

.directions .arrow .back {
  border-top: 1.5px solid #000;
  position: relative;
  left: -24%;
  width: 28px;
}

.directions .arrow .circle {
  border: 1.5px solid #dbdbdb;
  border-radius: 50%;
  padding: 12px;
  position: absolute;
  left: -5%;
}

.directions .arrow2 {
  margin-left: 20px;
  transform: rotate(180deg);
}
.media > div {
  border: 1.5px solid #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 4px;
  margin-right: 20px;
  cursor: pointer;
}

.media > div > svg {
  stroke-width: 1;
}
.directions > .arrow > svg {
  stroke-width: 1.5;
}

@media (max-width: 768px) {
  body {
    padding: 0px;
  }
  #root {
    width: 100%;
    overflow: hidden;
  }
  .menu a {
    margin: 0px 5px;
    padding-bottom: 10px;
  }
  .navbar {
    padding: 15px 10px 0px 10px;
  }
  .part1 {
    flex-direction: column;
    align-items: center;
    height: 60vh;
  }

  .part1 .intro {
    width: 95%;
    text-align: center;
  }

  .m_img1 {
    left: -16%;
    width: 50%;
    top: 30%;
  }

  .m_img2 {
    right: -16%;
    width: 45%;
    top: 60%;
  }

  .num2 {
    right: 12%;
    width: 40%;
    top: 50%;
  }

  .part1 {
    width: 100%;
    overflow: hidden;
  }

  .part2 {
    padding: 0px 10px;
    width: 100%;
  }
  .bottom {
    bottom: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
  }
  .counter {
    margin-left: 10px;
  }
  .directions {
    margin-right: 10px;
  }
  .media {
    margin-top: 20px;
    margin-left: 10px;
  }
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  .m_img1 {
    left: -13%;
    width: 42%;
    top: 25%;
  }

  .m_img2 {
    right: -16%;
    width: 45%;
    top: 43%;
  }

  .num2 {
    right: 12%;
    width: 40%;
    top: 50%;
  }
}
